## Folders

# Ignore not_qaqced_materials folder
not_qaqced_materials/

# Ignore qaqced_materials folder
qaqced_materials/

## DATA

# Ignore all files in the data folder
data/

# Ignore CSV files
*.csv

# Ignore shapefile related files
*.shp
*.prj
*.cpg
*.dbf
*.shx

# Ignore pickle files
*.pkl

## Caches

# Ignore cache folder
cache/

## Logs

# Ignore log files
*.logs
logs.txt

## Pycharm

# Ignore PyCharm project files
.idea

## Atom

# Ignore Atom remote sync configuration file
.remote-sync.json

## TABLEAU

# Ignore Windows image file caches
Thumbs.db
ehthumbs.db

# Ignore folder config file
Desktop.ini

# Ignore Recycle Bin used on file shares
$RECYCLE.BIN/

# Ignore Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Ignore Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore thumbnail files
._*

# Ignore files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Ignore directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Editors

# Ignore Visual Studio Code project files
.vscode

## PYTHON

# Ignore byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore C extensions
*.so

# Ignore distribution / packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore PyInstaller files
*.manifest
*.spec

# Ignore installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
!notebooks/*.ipynb

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
